body {
    background-color: #FFF7ED;
    font-family: cursive;
    color:  #92400e ;
}
header {
    text-align: center;
}
header h1 {
    background-color: #FDE68A;
    
}
header h4 {
    background-color: #FED7AA;
    font-size: 18px;
}
.nav {
    color: #92400e;
    font-weight: bold;
}
span:hover {
    background-color: #C2410C;
    color: white;
}
span {
    color: black;
    font-weight: normal;
}
div {
    background-color: white;
}
p {
    color: black;
    font-size: 18px;
}
ol {
     color: black;
    font-size: 18px;
}
ol li:hover {
    color: yellow;
    background-color:#78350f  ;
}
ul {
    color: black;
    font-size: 18px;
}
footer p {
    color: white;
    background-color: #78350f ;
    text-align: center;
    height: 80px;
    line-height: 40px;
    font-size: 18px;

}
