* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

header p {
    color: #5ec2c4;
    font-weight: bold;
    font-size: 26px;
}

img {
    width: 100%;
    border-radius: 20px;
    height: 180px;
}

.head {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    opacity: 0.7;
}

.body h4 {
    font-size: 22px;
}

.body p {
    font-size: 18px;
    opacity: 0.7;
}

.foot img {
    width: 44px;
    height: 44px;
}

.foot {
    display: flex;
    justify-content: space-between;
}

.price {
    margin-top: 14px;
}

.old {
    text-decoration: line-through;
}

.new {
    color:#4aede2;
    font-size: 26px;

}
